sup {
	position: relative;
	top: -0.4em;
	vertical-align: baseline;
}
sub {
	position: relative;
	top: 0.4em;
	vertical-align: baseline;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .view { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 45em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 60em;
}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 60em;
}
.stl_06 {
	height: 4.5em;
}
.ie .stl_06 {
	height: 45em;
}
@font-face {
	font-family:"FANREG+TimesNewRomanPS-BoldMT";
	src:url("1a4ce06d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 3.666667em;
	font-family: "FANREG+TimesNewRomanPS-BoldMT";
	color: #C00000;
}
.stl_08 {
	line-height: 1.041992em;
}
.stl_09 {
	letter-spacing: 0em;
}

.ie .stl_09 {
	letter-spacing: 0.0013px;
}
@font-face {
	font-family:"CILBJP+TimesNewRomanPSMT";
	src:url("19474645-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 3.666667em;
	font-family: "CILBJP+TimesNewRomanPSMT";
	color: #2D2DB9;
}
.stl_11 {
	letter-spacing: 0.0001em;
}

.ie .stl_11 {
	letter-spacing: 0.0034px;
}
.stl_12 {
	font-size: 2.666667em;
	font-family: "CILBJP+TimesNewRomanPSMT";
	color: #000000;
}
@font-face {
	font-family:"HTQHGI+Helvetica";
	src:url("e172154f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_13 {
	font-size: 2.666667em;
	font-family: "HTQHGI+Helvetica", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"GMRIDF+TimesNewRomanPS-ItalicMT";
	src:url("a2e39ea9-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_14 {
	font-size: 2.666667em;
	font-family: "GMRIDF+TimesNewRomanPS-ItalicMT";
	color: #FF0000;
}
.stl_15 {
	font-size: 2em;
	font-family: "CILBJP+TimesNewRomanPSMT";
	color: #000000;
}
.stl_16 {
	font-size: 2em;
	font-family: "HTQHGI+Helvetica", "Times New Roman";
	color: #000000;
}
.stl_17 {
	font-size: 2em;
	font-family: "GMRIDF+TimesNewRomanPS-ItalicMT";
	color: #000000;
}
.stl_18 {
	font-size: 3.333333em;
	font-family: "CILBJP+TimesNewRomanPSMT";
	color: #000000;
}
@font-face {
	font-family:"WDBRFK+Gulim";
	src:url("333c068e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_19 {
	font-size: 1.5em;
	font-family: "WDBRFK+Gulim";
	color: #000000;
}
.stl_20 {
	line-height: 1em;
}
.stl_21 {
	font-size: 2.333333em;
	font-family: "CILBJP+TimesNewRomanPSMT";
	color: #000000;
}
.stl_22 {
	font-size: 2.333333em;
	font-family: "HTQHGI+Helvetica", "Times New Roman";
	color: #000000;
}
.stl_23 {
	font-size: 2.333333em;
	font-family: "GMRIDF+TimesNewRomanPS-ItalicMT";
	color: #000000;
}
.stl_24 {
	font-size: 2.666667em;
	font-family: "GMRIDF+TimesNewRomanPS-ItalicMT";
	color: #000000;
}
.stl_25 {
	font-size: 2.666667em;
	font-family: "FANREG+TimesNewRomanPS-BoldMT";
	color: #000000;
}
@font-face {
	font-family:"ARCRGA+ArialMT";
	src:url("0ff1a406-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_26 {
	font-size: 2.666667em;
	font-family: "ARCRGA+ArialMT", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"RGKOIA+Symbol";
	src:url("b680f55b-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_27 {
	font-size: 2.666667em;
	font-family: "RGKOIA+Symbol", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"JFSVVU+Symbol";
	src:url("3b094e7e-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_28 {
	font-size: 2.666667em;
	font-family: "JFSVVU+Symbol", "Times New Roman";
	color: #000000;
}
.stl_29 {
	font-size: 3.666667em;
	font-family: "FANREG+TimesNewRomanPS-BoldMT";
	color: #2D2DB9;
}
.stl_30 {
	letter-spacing: -0.0091em;
}

.ie .stl_30 {
	letter-spacing: -0.534px;
}
.stl_31 {
	font-size: 1.166667em;
	font-family: "WDBRFK+Gulim";
	color: #FFFFFF;
}
.stl_32 {
	font-size: 3.333333em;
	font-family: "CILBJP+TimesNewRomanPSMT";
	color: #2D2DB9;
}
.stl_33 {
	letter-spacing: -0.0237em;
}

.ie .stl_33 {
	letter-spacing: -1.0118px;
}
@font-face {
	font-family:"HOVATP+TimesNewRomanPS-ItalicMT";
	src:url("73ba2a45-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_34 {
	font-size: 2.722158em;
	font-family: "HOVATP+TimesNewRomanPS-ItalicMT", "Times New Roman";
	color: #000000;
}
.stl_35 {
	letter-spacing: -0.0232em;
}

.ie .stl_35 {
	letter-spacing: -1.0118px;
}
@font-face {
	font-family:"IIWCOD+Symbol";
	src:url("1bf0334d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_36 {
	font-size: 2.722158em;
	font-family: "IIWCOD+Symbol", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"WMONRB+TimesNewRomanPSMT";
	src:url("8732e8fd-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_37 {
	font-size: 2.722158em;
	font-family: "WMONRB+TimesNewRomanPSMT", "Times New Roman";
	color: #000000;
}
.stl_38 {
	font-size: 2em;
	font-family: "RGKOIA+Symbol", "Times New Roman";
	color: #000000;
}
.stl_39 {
	font-size: 3.333333em;
	font-family: "GMRIDF+TimesNewRomanPS-ItalicMT";
	color: #000000;
}
.stl_40 {
	letter-spacing: -0.0052em;
}

.ie .stl_40 {
	letter-spacing: -0.166px;
}
.stl_41 {
	font-size: 2.666667em;
	font-family: "CILBJP+TimesNewRomanPSMT";
	color: #3333CC;
}
.stl_42 {
	font-size: 2.666667em;
	font-family: "HTQHGI+Helvetica", "Times New Roman";
	color: #434DD6;
}
.stl_43 {
	font-size: 2.666667em;
	font-family: "CILBJP+TimesNewRomanPSMT";
	color: #FF0000;
}
.stl_44 {
	font-size: 2.666667em;
	font-family: "CILBJP+TimesNewRomanPSMT";
	color: #3232CC;
}
.stl_45 {
	font-size: 2.666667em;
	font-family: "CILBJP+TimesNewRomanPSMT";
	color: #006600;
}
.stl_46 {
	letter-spacing: -0.3232em;
}

.ie .stl_46 {
	letter-spacing: -13.7917px;
}
.stl_47 {
	font-size: 2em;
	font-family: "WDBRFK+Gulim";
	color: #000000;
}
.stl_48 {
	letter-spacing: -0.431em;
}

.ie .stl_48 {
	letter-spacing: -13.7917px;
}
.stl_49 {
	letter-spacing: -0.0635em;
}

.ie .stl_49 {
	letter-spacing: -2.7083px;
}
.stl_50 {
	font-size: 1.666667em;
	font-family: "CILBJP+TimesNewRomanPSMT";
	color: #000000;
}
.stl_51 {
	letter-spacing: -0.185em;
}

.ie .stl_51 {
	letter-spacing: -7.8932px;
}
.stl_52 {
	font-size: 3.333333em;
	font-family: "ARCRGA+ArialMT", "Times New Roman";
	color: #000000;
}
.stl_53 {
	letter-spacing: -0.0001em;
}

.ie .stl_53 {
	letter-spacing: -0.0068px;
}
.stl_54 {
	font-size: 3.333333em;
	font-family: "FANREG+TimesNewRomanPS-BoldMT";
	color: #FF0000;
}
@font-face {
	font-family:"LJKFJN+TimesNewRomanPS-BoldItalicMT";
	src:url("72601960-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_55 {
	font-size: 3.333333em;
	font-family: "LJKFJN+TimesNewRomanPS-BoldItalicMT", "Times New Roman";
	color: #FF0000;
}
.stl_56 {
	font-size: 3.333333em;
	font-family: "CILBJP+TimesNewRomanPSMT";
	color: #FF0000;
}
.stl_57 {
	letter-spacing: 0.0002em;
}

.ie .stl_57 {
	letter-spacing: 0.0107px;
}
.stl_58 {
	transform: scale(1,1.007593);
	-o-transform: scale(1,1.007593);
	-ms-transform: matrix(1,0,0,1.007593,0,-3.481899);
	-moz-transform: scale(1,1.007593);
	-webkit-transform: scale(1,1.007593);
}
@font-face {
	font-family:"KSBFBF+TimesNewRomanPS-ItalicMT";
	src:url("a7f2da16-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_59 {
	font-size: 2.784649em;
	font-family: "KSBFBF+TimesNewRomanPS-ItalicMT", "Times New Roman";
	color: #000000;
}
.stl_60 {
	transform: scale(1,1.010058);
	-o-transform: scale(1,1.010058);
	-ms-transform: matrix(1,0,0,1.010058,0,-3.939112);
	-moz-transform: scale(1,1.010058);
	-webkit-transform: scale(1,1.010058);
}
@font-face {
	font-family:"SABJUI+TimesNewRomanPSMT";
	src:url("8c5dc774-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_61 {
	font-size: 3.150306em;
	font-family: "SABJUI+TimesNewRomanPSMT", "Times New Roman";
	color: #000000;
}
.stl_62 {
	letter-spacing: -0.0153em;
}

.ie .stl_62 {
	letter-spacing: -0.7696px;
}
@font-face {
	font-family:"WHCTRD+Symbol";
	src:url("e690b4cc-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_63 {
	font-size: 3.150306em;
	font-family: "WHCTRD+Symbol", "Times New Roman";
	color: #000000;
}
.stl_64 {
	transform: scale(1,0.9871082);
	-o-transform: scale(1,0.9871082);
	-ms-transform: matrix(1,0,0,0.9871082,0,-3.581632);
	-moz-transform: scale(1,0.9871082);
	-webkit-transform: scale(1,0.9871082);
}
@font-face {
	font-family:"TGHFJJ+TimesNewRomanPSMT";
	src:url("d3ab9c9f-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_65 {
	font-size: 2.86441em;
	font-family: "TGHFJJ+TimesNewRomanPSMT", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"TTMEEG+TimesNewRomanPS-ItalicMT";
	src:url("40fec7b3-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_66 {
	font-size: 2.86441em;
	font-family: "TTMEEG+TimesNewRomanPS-ItalicMT", "Times New Roman";
	color: #000000;
}
.stl_67 {
	letter-spacing: 0.0473em;
}

.ie .stl_67 {
	letter-spacing: 2.1694px;
}
@font-face {
	font-family:"KSSGIQ+Symbol";
	src:url("216874af-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_68 {
	font-size: 2.86441em;
	font-family: "KSSGIQ+Symbol", "Times New Roman";
	color: #000000;
}
.stl_69 {
	font-size: 3.666667em;
	font-family: "GMRIDF+TimesNewRomanPS-ItalicMT";
	color: #3C46C6;
}
.stl_70 {
	font-size: 1.777778em;
	font-family: "GMRIDF+TimesNewRomanPS-ItalicMT";
	color: #000000;
}
.stl_71 {
	font-size: 1.777778em;
	font-family: "CILBJP+TimesNewRomanPSMT";
	color: #000000;
}
.stl_72 {
	font-size: 2.666667em;
	font-family: "LJKFJN+TimesNewRomanPS-BoldItalicMT", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"MPFLFM+TimesNewRomanPSMT";
	src:url("277f6675-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_73 {
	font-size: 2.666667em;
	font-family: "MPFLFM+TimesNewRomanPSMT", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"BCVTTT+ArialUnicodeMS";
	src:url("41cef024-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_74 {
	font-size: 2.333333em;
	font-family: "BCVTTT+ArialUnicodeMS", "Times New Roman";
	color: #000000;
}
.stl_75 {
	font-size: 2.333333em;
	font-family: "FANREG+TimesNewRomanPS-BoldMT";
	color: #000000;
}
.stl_76 {
	font-size: 2.333333em;
	font-family: "MPFLFM+TimesNewRomanPSMT", "Times New Roman";
	color: #000000;
}
.stl_77 {
	font-size: 2.333333em;
	font-family: "RGKOIA+Symbol", "Times New Roman";
	color: #000000;
}
.stl_78 {
	font-size: 1.5em;
	font-family: "CILBJP+TimesNewRomanPSMT";
	color: #000000;
}
@font-face {
	font-family:"PKIUIF+ArialUnicodeMS";
	src:url("7ac187fe-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_79 {
	font-size: 2.666667em;
	font-family: "PKIUIF+ArialUnicodeMS", "Times New Roman";
	color: #000000;
}
.stl_80 {
	transform: scale(1,1.073174);
	-o-transform: scale(1,1.073174);
	-ms-transform: matrix(1,0,0,1.073174,0,-2.940262);
	-moz-transform: scale(1,1.073174);
	-webkit-transform: scale(1,1.073174);
}
@font-face {
	font-family:"QOSSWC+Symbol";
	src:url("79ac1686-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_81 {
	font-size: 2.351475em;
	font-family: "QOSSWC+Symbol", "Times New Roman";
	color: #000000;
}
.stl_82 {
	transform: scale(1,1.224489);
	-o-transform: scale(1,1.224489);
	-ms-transform: matrix(1,0,0,1.224489,0,-3.072834);
	-moz-transform: scale(1,1.224489);
	-webkit-transform: scale(1,1.224489);
}
@font-face {
	font-family:"MQWIAL+Symbol";
	src:url("6f27fcb7-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_83 {
	font-size: 2.457499em;
	font-family: "MQWIAL+Symbol", "Times New Roman";
	color: #000000;
}
.stl_84 {
	font-size: 1.777778em;
	font-family: "MPFLFM+TimesNewRomanPSMT", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"SJIKKR+TimesNewRomanPS-BoldMT";
	src:url("f002b672-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_85 {
	font-size: 2.333333em;
	font-family: "SJIKKR+TimesNewRomanPS-BoldMT", "Times New Roman";
	color: #000000;
}
.stl_86 {
	transform: scale(1,1.076247);
	-o-transform: scale(1,1.076247);
	-ms-transform: matrix(1,0,0,1.076247,0,-2.784952);
	-moz-transform: scale(1,1.076247);
	-webkit-transform: scale(1,1.076247);
}
@font-face {
	font-family:"VHOACC+TimesNewRomanPSMT";
	src:url("58eafd26-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_87 {
	font-size: 2.227266em;
	font-family: "VHOACC+TimesNewRomanPSMT", "Times New Roman";
	color: #000000;
}
.stl_88 {
	letter-spacing: 0.0406em;
}

.ie .stl_88 {
	letter-spacing: 1.4475px;
}
@font-face {
	font-family:"IVUCLS+Symbol";
	src:url("6fae9e82-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_89 {
	font-size: 2.227266em;
	font-family: "IVUCLS+Symbol", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"INWWNU+TimesNewRomanPS-ItalicMT";
	src:url("98903f1d-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_90 {
	font-size: 2.227266em;
	font-family: "INWWNU+TimesNewRomanPS-ItalicMT", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"NRQCWL+Symbol";
	src:url("5c6240f0-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_91 {
	font-size: 2.227266em;
	font-family: "NRQCWL+Symbol", "Times New Roman";
	color: #000000;
}
.stl_92 {
	letter-spacing: -0.0084em;
}

.ie .stl_92 {
	letter-spacing: -0.2684px;
}
.stl_93 {
	font-size: 2.333333em;
	font-family: "FANREG+TimesNewRomanPS-BoldMT";
	color: #2D2DB9;
}
.stl_94 {
	transform: scale(1,0.9998246);
	-o-transform: scale(1,0.9998246);
	-ms-transform: matrix(1,0,0,0.9998246,0,-2.226851);
	-moz-transform: scale(1,0.9998246);
	-webkit-transform: scale(1,0.9998246);
}
@font-face {
	font-family:"MPBKBJ+TimesNewRomanPSMT";
	src:url("cba61d47-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_95 {
	font-size: 1.780924em;
	font-family: "MPBKBJ+TimesNewRomanPSMT", "Times New Roman";
	color: #000000;
}
.stl_96 {
	transform: scale(1,0.9998246);
	-o-transform: scale(1,0.9998246);
	-ms-transform: matrix(1,0,0,0.9998246,0,-3.2);
	-moz-transform: scale(1,0.9998246);
	-webkit-transform: scale(1,0.9998246);
}
@font-face {
	font-family:"LFWOVA+Symbol";
	src:url("c280c37c-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_97 {
	font-size: 1.780924em;
	font-family: "LFWOVA+Symbol", "Times New Roman";
	color: #000000;
}
@font-face {
	font-family:"NQLQKI+Symbol";
	src:url("770704f9-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_98 {
	font-size: 1.780924em;
	font-family: "NQLQKI+Symbol", "Times New Roman";
	color: #000000;
}
.stl_99 {
	letter-spacing: -0.0098em;
}

.ie .stl_99 {
	letter-spacing: -0.2791px;
}
.stl_100 {
	letter-spacing: -0.0061em;
}

.ie .stl_100 {
	letter-spacing: -0.1736px;
}
.stl_101 {
	letter-spacing: 0.0032em;
}

.ie .stl_101 {
	letter-spacing: 0.0898px;
}
.stl_102 {
	letter-spacing: 0.0077em;
}

.ie .stl_102 {
	letter-spacing: 0.2183px;
}
.stl_103 {
	letter-spacing: 0.0003em;
}

.ie .stl_103 {
	letter-spacing: 0.0099px;
}
.stl_104 {
	letter-spacing: 0.0028em;
}

.ie .stl_104 {
	letter-spacing: 0.0793px;
}
@font-face {
	font-family:"DNCCAB+TimesNewRomanPS-ItalicMT";
	src:url("6be14e66-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_105 {
	font-size: 1.780924em;
	font-family: "DNCCAB+TimesNewRomanPS-ItalicMT", "Times New Roman";
	color: #000000;
}
.stl_106 {
	letter-spacing: 0.0438em;
}

.ie .stl_106 {
	letter-spacing: 1.2491px;
}
